QUANT_PLATFORM_ENV=local
QUANT_PLATFORM_ALLOW_LIVE_TRADING=false
QUANT_PLATFORM_ALLOW_PAPER_TRADING=false
REQUIRE_EXPLICIT_LIVE_TRADING_CONFIRMATION=true
I_UNDERSTAND_LIVE_TRADING_RISK=false

BASE_CURRENCY=USD
INITIAL_CAPITAL=10000

DEFAULT_FREQUENCY=1d
DEFAULT_EQUITY_PROVIDER=yfinance
DEFAULT_CRYPTO_PROVIDER=binance_public

YFINANCE_ENABLED=true
STOOQ_ENABLED=false
COINGECKO_ENABLED=true
BINANCE_PUBLIC_ENABLED=true
CCXT_ENABLED=false

ALPHA_VANTAGE_API_KEY=
POLYGON_API_KEY=
NASDAQ_DATA_LINK_API_KEY=
CRYPTOCOMPARE_API_KEY=

MAX_ALLOWED_LEVERAGE=1.0
CONSERVATIVE_TARGET_MAX_DRAWDOWN=0.15
AGGRESSIVE_TARGET_MAX_DRAWDOWN=0.30
